body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #54034c;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(246, 242, 245);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.subtitle {
    font-size: 18px;
    color: #777;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.job h3 {
    margin: 0;
    font-size: 20px;
}

.company {
    font-style: italic;
    color: #777;
}

p {
    line-height: 1.6;
}
